@model IEnumerable<QuanLyKhachSan.Model.KhachHang>
<table class="table table-bordered table-hover">
   
    <tbody>
        @foreach (var khachHang1 in Model)
        {
          
                <tr>
                    <td>@khachHang1.MaKhachHang</td>
                    <td>@khachHang1.TenKhachHang</td>
                    <td>@khachHang1.GioiTinh</td>
                    <td>@khachHang1.NgaySinh.ToShortDateString()</td>
                    <td>@khachHang1.DienThoai</td>
                    <td>@khachHang1.DiaChi</td>
                    <td>@khachHang1.GhiChu</td>


                    <td>
                        <button type="button" class="btn btn-primary editButton" data-id="@khachHang1.MaKhachHang" style="margin-left:5px;">
                            <i class="bi bi-pencil"></i>
                        </button>
                    </td>



                @using (Html.BeginForm("XoaKhachHangPartical", "KhachHang", new { id = khachHang1.MaKhachHang }, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <td>
                        <button type="submit" class="btn btn-primary" onclick="return confirm('Are you sure you want to delete this item?');" style="margin-left:5px;">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                }
                </tr>      
                }
    </tbody>
  

</table>
