@model DatPhong
<link href="~/css/Phong.css" rel="stylesheet" />

@{


	var bookedRooms = ViewBag.BookedRooms as List<string>;
	var khachHangDatPhong = ViewBag.KhachHangs as List<string>;
}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Room Booking</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		  integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
	<div class="container-fluid" id="tongquat">
		<header>
			<nav class="nav navbar">
				<a class="btn btn-primary btn_color" href="#">
					<i class="bi bi-grid-3x3"></i>
					Sơ đồ
				</a>
				<a class="d-none"><i class="bi bi-search"></i></a>
				<a><input type="checkbox" /> <label>Đang sử dụng</label></a>
				<a> <input type="checkbox" /> <label>Phòng Trống</label></a>
				<a class="d-none"><i class="bi bi-gear"></i></a>
				<a class="btn btn-primary btn_color" id="DatPhong"><i class="bi bi-plus-circle"></i> Đặt Phòng</a>
			</nav>
		</header>

		<h2>Tầng 1</h2>
		<div class="row">
			@foreach (var room in ViewBag.Rooms)
			{
				var roomClass = "room";
				if (bookedRooms.Contains(room.MaPhong))
				{
					roomClass += " booked";
				}

				<div class="col-sm-6 col-md-4 col-lg-3">
					<div class="@roomClass">
						<div class="room-number">
							<a>P.@room.MaPhong</a>
						</div>
						<div class="icon">
							<div class="icon-star"><i class="bi bi-stars"></i></div>
							<div class="icon-three-dot-vertical"> <i class="bi bi-three-dots-vertical"></i></div>
						</div>
						<p class="text_type_room">@room.HangPhong</p>
						<p class="text-price">@room.GiaTheoNgay</p>
					</div>
				</div>
			}

		</div>

	</div>
	@* popup *@

	<div class="overlay" id="overlay">
		<div class="form-container">
			<button id="closeButton"><i class="bi bi-x-lg icon_x"></i></button>
			<form method="post">
			<h2>Đặt nhận phòng</h2>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th >Mã DP</th>
						<th>Phòng</th>
						<th>Hạng Phòng</th>
						<th>Mã KH</th>
						<th>Hình Thức</th>
						<th>Giá Phòng</th>
						<th>Ngày Nhận</th>
						<th>Trả Phòng</th>
						<th>Dự Kiến</th>
						<th>Thành Tiền</th>
					</tr>
				</thead>

				<tbody>
					<tr>
						@* Mã đặt phòng *@
							<td><input asp-for="MaDatPhong" style="width:100px" /></td>
							<td>
								@* Phòng *@
								<select class="combo" asp-for="Phong" style="width:60px">

									<option value="101"> P.101 </option>
									<option value="102"> P.102 </option>
									<option value="103"> P.103 </option>
									<option value="104"> P.104 </option>
									<option value="201"> P.201 </option>
									<option value="202"> P.202 </option>
									<option value="203"> P.203 </option>
									<option value="204"> P.204 </option>
									<option value="301"> P.301 </option>
									<option value="302"> P.302 </option>
									<option value="303"> P.303 </option>
									<option value="304"> P.304 </option>
									<option value="401"> P.401 </option>
									<option value="402"> P.402 </option>
									<option value="403"> P.403 </option>
									<option value="404"> P.404 </option>

								</select>
							</td>
							@* Hạng Phòng *@
							<td>
                              <select style="width:110px" class="combo" asp-for="HangPhong" >
								  <option value="PhongDon">Phòng Đơn</option>
									<option value="PhongDoi">Phòng Đôi</option>
							  </select>
						
						</td>
						@* mã khách hàng *@
						<td>
								<select style="width:80px" class="combo" asp-for="MaKhachHang">
								
									@foreach(var kh in ViewBag.KhachHangs)
									{
										<option value="@kh.MaKhachHang"> @kh.MaKhachHang</option>
									}
								</select>
						</td>
						@* Hình thức *@
						<td>
							<select class="combo_Gio_Ngay" asp-for="HinhThuc">
								<option value="Gio"> Giờ  </option>
								<option value="Dem"> Đêm  </option>
								<option value="Ngay"> Ngày </option>
							</select>
						</td>

						@* Giá phòng *@
						<td>
								<label asp-for="GiaPhong" id="labelGiaPhong" >200000</label>
								<input type="hidden" asp-for="GiaPhong" id="gia-phong" value="200000"/>
						</td>
						@* Ngày Nhận *@
						<td>
								<input style="width:185px" type="datetime-local" name="NgayNhan" asp-for="NgayNhan" />
						</td>
						@* Ngày trả *@
						<td>
								<input style="width:185px" type="datetime-local" name="NgayTra" asp-for="NgayTra" />
						</td>
						@* Dự kiến *@
							<td class="duration">
								<label asp-for="DuKien" id="labelDuKien">0 giờ</label>
							<input type="hidden" asp-for="DuKien" id="dukien"/>
							</td>
							@* Thành tiền *@
							<td class="thanhtien">
								<label asp-for="ThanhTien" id="lableThanhTien">000.000</label>
								<input type="hidden" asp-for="ThanhTien" id="thanhtien"/>

							</td>
					</tr>
				</tbody>
			</table>
			<div>
				<p>Ghi Chú</p>
				<textarea></textarea>
			</div>
			
            <div id="thanh-toan">
                <label class="text_khachhang_tra">Khách cần trả</label>
				<label class="tien_khachhang_tra">000.000</label>
				<p class="text_khachhang_thanhtoan">Khách thanh toán</p>
			
                <input value="0" class="input_khachhang_thanhtoan">
            </div>
            <button type="submit" class="confirm-button" asp-action="NhanPhong" asp-controller="Phong">Nhận Phòng</button>
            <button class="cancel-button">Đặt Trước</button>
			</form>
		</div>
	
	</div>
	
</body>

</html>
<script src="~/js/phong.js"></script>