@model QuanLyKhachSan.Model.NhanVien

@{
    ViewData["Title"] = "Sửa Nhân Viên";
}

<h2>Sửa Nhân Viên</h2>

<form asp-action="ThemNhanVien" method="post">
    <div class="form-group">
        <label for="MaNhanVien">Mã Nhân Viên</label>
        <input asp-for="MaNhanVien" class="form-control" readonly/>
        @Html.ValidationMessageFor(model => model.MaNhanVien, "", new { @class = "text-danger" })

    </div>
    <div class="form-group">
        <label for="TenNhanVien">Tên Nhân Viên</label>
        <input asp-for="TenNhanVien" class="form-control" />
        @Html.ValidationMessageFor(model => model.TenNhanVien, "", new { @class = "text-danger" })

    </div>
    <div class="form-group">
        <label for="CCCD">CCCD</label>
        <input asp-for="CCCD" class="form-control" />
        @Html.ValidationMessageFor(model => model.CCCD, "", new { @class = "text-danger" })

    </div>
    <div class="form-group">
        <label for="GioiTinh">Giới Tính</label>
        <select asp-for="GioiTinh" class="form-control">

            <option value="Nam">Nam</option>
            <option value="Nữ">Nữ</option>
        </select>
        @Html.ValidationMessageFor(model => model.GioiTinh, "", new { @class = "text-danger" })

    </div>
    <div class="form-group">
        <label for="NgaySinh">Ngày Sinh</label>
        <input asp-for="NgaySinh" type="date" class="form-control" />
        @Html.ValidationMessageFor(model => model.NgaySinh, "", new { @class = "text-danger" })

    </div>
    <div class="form-group">
        <label for="ChucVu">Chức Vụ</label>
        <input asp-for="ChucVu" class="form-control" />
        @Html.ValidationMessageFor(model => model.ChucVu, "", new { @class = "text-danger" })

    </div>
    <div class="form-group">
        <label for="DienThoai">Điện Thoại</label>
        <input asp-for="DienThoai" class="form-control" />
        @Html.ValidationMessageFor(model => model.DienThoai, "", new { @class = "text-danger" })

    </div>
    <div class="form-group">
        <label for="DiaChi">Địa Chỉ</label>
        <input asp-for="DiaChi" class="form-control" />
        @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })

    </div>
    <div class="form-group">
        <label for="NgayVaoLam">Ngày Vào Làm</label>
        <input asp-for="NgayVaoLam" type="date" class="form-control" />
        @Html.ValidationMessageFor(model => model.NgayVaoLam, "", new { @class = "text-danger" })

    </div>
    <div class="form-group">
        <label for="GhiChu">Ghi Chú</label>
        <textarea asp-for="GhiChu" class="form-control"></textarea>
        @Html.ValidationMessageFor(model => model.GhiChu, "", new { @class = "text-danger" })

    </div>
    <div class="form-group">
        <input type="submit" value="Sửa Nhân Viên" class="btn btn-primary" asp-action="SuaNhanVien" />
    </div>
</form>

